@use '../../sass/_variables' as *;

.menu-burguer{
    display: block;
    position: absolute;
    text-align: center;
    top: 4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90vw;
    background-color: white;
    border-radius: 10px;
    z-index: 999;
    border: 1px solid rgba(0, 0, 0, 0.445);

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul{
        width: 100%;
    }

    li{
        width: 100%;
        list-style: none;
        padding: 1rem 0;
    }

    a{
        text-decoration: none;
        color: black;
    }

    button{
        margin-top: 3rem;
    }

    img{
        margin-top: 3rem;
    }
}