$pageColor: hsla(0, 0%, 98%, 0.945);
$motivationBg: hsl(220, 16%, 96%);
$fontColor: hsl(233, 8%, 62%);
$footer: hsl(233, 26%, 24%);
$hovered: hsl(136, 61%, 50%);
$buttonBg: linear-gradient(90deg, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);
