.main{
    height: 90vh;
    width: 100%;
    padding: 0 10%;
    overflow: hidden;
    overflow-y:hidden ;
    display: flex;
    align-items: center;
    position: relative;

    &__info{
        width: 450px;
    }

    h1{
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 4rem;
        margin-bottom: 1.5rem
    }
    p{
        line-height: 1.6rem;
        margin-bottom: 1.5rem;
    }

    #phones-bg{
        position: absolute;
        top: -18rem;
        right: -26rem;
        z-index: 0;
      }

    
}