.main{
    height: 90vh;
    width: 100%;
    padding: 0 10%;
    overflow: hidden;
    overflow-y:hidden ;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    &__info{
        width: 450px;
        z-index: 1;
    }

    h1{
        font-size: 3.5rem;
        line-height: 4rem;
        margin-bottom: 1.5rem
    }
    p{
        margin-bottom: 1.5rem;
    }

    #phones-bg{
        position: absolute;
        top: -18rem;
        right: -26rem;
        z-index: -1;
      }

      @media screen and (max-width:768px){
        flex-direction: column-reverse;
        height: auto;
        padding: 4rem 18px;

        #phones-bg{
            width: 680px;
            right: -10rem;
            top: -14rem;
        }

        &__info{
            width: 100%;
            text-align: center;
            margin-top: 17rem;
        }

        h1{
            font-size: 3rem;
        }
      }
}