@use '../../sass/_variables' as *;

.button{
    border: 0;
    border-radius: 20px;
    background: $buttonBg;
    width: 200px;
    padding: 12px 0;
    color: white;
    cursor: pointer;
    font-weight: bold;

    &:hover{
        opacity: 0.7;
    }
}