@use './sass/_variables' as *;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  color: black;
  font-weight: 400;
}

p{
  line-height:1.6rem;
}

body{
  background-color: $pageColor;
  font-family: "public sans";
  color: $fontColor;
  font-size: 18px;
}