@use '../../sass/_variables' as *;

.motivation{
    height:90vh;
    padding: 6rem 8%;
    background-color: $motivationBg;

    &__intro{
        width: 700px;
    }

    h2{
        font-size: 2.5rem;
    }
    p{
        padding-top: 1rem;
    }

    &__cards{
        display: flex;
        gap: 2rem;
        margin-top: 5rem;
    }

    @media screen and (max-width:768px){
        padding: 3rem 1rem;
        text-align: center;
        height:auto;

        h2{
            font-size: 2rem;
        }

        &__intro{
            width: 100%;
        }

        &__cards{
            flex-direction: column;
            align-items: center;
            gap: 5rem;
        }
    }
}